*.bgeo.sc
*/frame*.*
build*/*
xmlgen/build*/*
*.mat
pngs/*
unit_tests/*
*.exr
*.geo*
geo/*
render/*
*.bin
*.obj
log*.*
.DS_Store
*.off
result*/*
*.xcuserstate
/AntTweakBar
/lib
/out
/.cache
/.vscode
/compile_commands.json
/yarn_small
/yarn_small_proto
